@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
body{
    background-color: #212025;
    /* color: #139256; */
    color: #ffffff;
}

.container{
    width: 100%;
    height: 100vh;
    
    flex-direction: column;
    max-width: 70%;
    margin: auto;
    margin-top: 6%;
}

.headr
{
    display: flex;
    flex-direction: row;
    font-size: 20px;
}
.headr .gas-price
{
    padding: 20px;
}
.headr .gas-price a
{
    text-decoration: none;
    color: #ffffff;
    
}
.headr .gas-price a:hover{
    
    color: #ffffff;
}

.headr .gas-price p
{
    padding: 0 8px;
}
.box
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.box .box1
{
    background-color: #212025;
    border: 1px solid #838181;
    border-radius: 6px;
    padding: 10px;
    width: 50%;
    height: 120%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}
.box .box1 h3
{
    font-size: 30px;
    margin-bottom: 30px;
}

.box1 .item
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #838181;
}
.box1 .item span
{
    color: #ffffff;
}

#fast
{
    display: none;
}
#fast2
{
    display: none;
}
#fast3
{
    display: none;
}